<div>
    <nav class='navbar navbar-default'>
        <div class='container-fluid'>
            <a class='navbar-brand'>{{pageTitle}}</a>
            <ul class='nav navbar-nav'>
                <li><a [routerLink]="['/welcome']">Home</a></li>
                <li><a [routerLink]="['/vehicles']">Vehicle List</a></li>
                <li><a [routerLink]="['/dealers']">Dealers List</a></li>
            </ul>
        </div>
    </nav>
    <h1>Storyline Tracker</h1>    
    <h4>Pick a highlight color</h4>
    <div>
        <input type="radio" name="colors" (click)="color='lightgreen'">Green
        <input type="radio" name="colors" (click)="color='lightblue'">Blue
        <input type="radio" name="colors" (click)="color='brown'">Brown
    </div>
    <h3 [myHighlight]="color" [defaultColor]="'violet'">Component Demo</h3>

    <p [myHighlight]="color">Highlight me!</p>

    <!--<vehicle-list>Vehicle list</vehicle-list>-->
    <div class='container'>
            <router-outlet></router-outlet>
    </div>
</div>