<h3>{{title}}</h3>

<div>
    <input [(ngModel)]="inputtext">
</div>
<div>
    <span>{{inputtext}}</span>    
</div>
<div>
    <span>{{inputtext | simplePipe}}</span>
</div>
<div>
    <input [(ngModel)]='filterInput'>
</div>
<div class='row'>
    <div class='col-md-6'>
        <h3>Filtered by: {{filterInput}}</h3>
    </div>
</div>
<p></p>
<div>
    <ul class="vehicles">
        <p></p>
        <li *ngFor='let vehicle of vehicles | myPipe:filterInput'>
            <div (click)="select(vehicle)"
                [class.selected]="vehicle===selectedVehicle">
                {{vehicle.id}}, {{vehicle.brand | uppercase}}, {{vehicle.model}}, {{vehicle.color}}, {{vehicle.price | currency: 'USD':true:'1.2-2'}}
            </div>
            <div style="margin-top:5px"></div>
        </li>
    </ul>
    <div>
        <h3>Life Cycle Hooks</h3>
        <ul>
            <li *ngFor='let hooksMessage of hooksMessages'>
                {{hooksMessage}}
            </li>
        </ul>
    </div>
    <button (click)=remove()>Remove component</button>    
    <div *ngIf="vehicles.length">
        <h3>You have {{vehicles.length}} vehicles</h3>
    </div>
    <selected-vehicle *ngIf="selectedVehicle"
        [vehicleselected]="selectedVehicle"
        (vehicleClicked)='onVehicleselected($event)'
        (mouseOverButton)='onMouseOverButtonEvent($event)'
        (onLifeCycleHookEvent)='processLifeCycleEvent($event)'
    ></selected-vehicle>
</div>
<p></p>
<button
    [style.color]="divcolor"
    [style.background-color]="bckdivcolor"
    (click)="log('Button clicked')"
    (mouseleave)="log('Mouse left button')"
    (mouseover)="log('Mouse over button')">
    Button
</button>
<p></p>
<div>
    <ul>
        <li *ngFor="let msg of messages">{{msg}}</li>
    </ul>
</div>