<h3>{{title}}</h3>
<div>
    <input [(ngModel)]='filterInput'>
</div>
<div class='row'>
    <div class='col-md-6'>
        <h3>Filtered by: {{filterInput}}</h3>
    </div>
</div>
<p></p>
<div>
    <ul class="dealers">
        <p></p>
        <li style="font-weight: bold; border-bottom: solid 2px">
            <div style="width: 250px; float: left">ID</div>
            <div style="width: 250px; float: left">Name</div>
            <div style="width: 250px; float: left">State</div>
            <div style="width: 250px; float: left">Revenue</div>
            <div style="clear: both"></div>
        </li>
        <li *ngFor='let dealer of dealers | myPipe:filterInput' style="margin-top:5px">
            <div (click)="select(dealer)"
                [class.selected]="dealer===selectedDealer">
                <div style="width: 250px; float: left">{{dealer.id}}</div>
                <div style="width: 250px; float: left">{{dealer.name}}</div>
                <div style="width: 250px; float: left">{{dealer.state}}</div>
                <div style="width: 250px; float: left">{{dealer.revenue | currency: 'USD':true:'1.0-2'}}</div>
            </div>
            <div style="margin-top:5px; clear: both"></div>
        </li>
    </ul>    
    <button (click)=remove()>Remove component</button>
    <selected-dealer *ngIf="selectedDealer"
        [dealerselected]="selectedDealer"
        (dealerClicked)='onDealerselected($event)'
        (mouseOverButton)='onMouseOverButtonEvent($event)'
        (onLifeCycleHookEvent)='processLifeCycleEvent($event)'
    ></selected-dealer>
</div>
<p></p>
<button
    [style.color]="divcolor"
    [style.background-color]="bckdivcolor"
    (click)="log('Button clicked')"
    (mouseleave)="log('Mouse left button')"
    (mouseover)="log('Mouse over button')">
    Button
</button>
<p></p>
<div>
    <ul>
        <li *ngFor="let msg of messages">{{msg}}</li>
    </ul>
</div>